.footer {
    background: #505050;
    height: 70px;
    padding: 1.5rem 0;
    box-shadow: 1px -3px 11px 0px #0000001c;
}

.footer a {
    color: #fff;
    font-weight: bold;
    padding-left: 7px;
}

.navbar #iconMenuDropdown{
    height: 200px;
}

div.logoFooter img {
    margin-top: -20px;
    position: absolute;
    right: 3.33%;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.search {
    position: relative;
    width: 50%;
    border-radius: 20px;
    background: #f8f8f8;
}

.search input {
    border: initial;
    background: #0000001c;
    outline: medium none invert!important;
    outline: initial!important;
    padding: .5rem 1rem;
    line-height: 1.75;
    font-size: .8rem;
    width: 93%;
    color: #303030;
}

.search .search-icon {
    font-size: 17px;
    border-radius: 10px;
    color: #565656;
    position: absolute;
    height: 40px;
    bottom: -10px;
    right: 45px;
    text-align: center;
}

.logo-single {
    width: 110px;
    height: 35px;
    background: url(/assets/img/logo.png) no-repeat !important;
    background-position: center center;
    display: inline-block;
    margin-bottom: 60px;
}